@import "tailwindcss";

:root {
    --blanco: #fff;
    --oscuro: #21212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
}

/* Truco para uniformidad en textos entre navegadores */

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.my-title{
    text-align: center;
    font-size: 3.8rem;
}

.my-title span{
    font-size: 2rem;
}

.nav-bg{
    background-color: var(--secundario);
    padding: 1rem 0;
    
}

.nav-principal{
    background-color: var(--secundario);
    /* Flexbox define como alinear elementos*/
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    font-weight: bold; /* Hace que el texto sea negrita */
    font-size: 2rem; /* Define el tamaño de fuente para los elementos del nav */
    list-style: none; 
}

/* Cuando pongo el cursor encima del enlace del nav principal, cambia el color de fondo */
.nav-principal a:hover{
    background-color: var(--primario);

}

.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.contenedor{
    width: 120rem;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    /* 
    margin-top:0
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    */
}